
<div ng-app="myApp" ng-controller="controller">
<nav id = "navbar">
<h2>Search</h2>
<form id = "search" action = "search" method = "POST">
	<input type = "text" ng-model="playerName" name = "playerName">
	<input type = "submit" action = "submit" value = "Search">
<p ng-bind="playerName"></p>
</form>

<a href="/newWiki">
   <input type="button" value="Create New Wiki" />
</a>

</nav>


<div id = "wikiList">
	<h2>Wiki Articles </h2>

	{{#each wikiArticle}}
		<div class = "wikiArticle" id = "{{this._id}}">
			{{title}}
		</div> <br>
	{{/each}}

</div>
</div>