
<h2>Create New Wiki</h2>
<form>
	Title: <input id = "newTitle" type = "text" ng-model="playerName" name = "playerName"> <br>
	Content: <input id = "newContent" type = "text" ng-model="content" name = "content"> <br>
	<input type = "submit" action = "submit" value = "Create New">
</form>

