<div class="row">
    <div class="col-lg-8">
        <div class="well">
            <h1> Home page</h1>
            <h4>This is a Wiki website about NBA Basketball Players. Feel free create new articles about your favorite NBA players</h4>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="well" id="articleslist" data-spy="affix" data-offset-top="70">
            <h1>Articles </h1>
            <div ng-repeat="article in articles"><a class="btn btn-default" href="#/playerWiki/{{article}}">{{article}}</a>
            </div>
        </div>
    </div>
</div>
