<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>Basketball Wiki</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
	<h1>Basketball Wiki</h1>
<body>
    {{{body}}}
</body>
<script type="text/javascript" src="javascripts/main.js"></script>
<script type="text/javascript" src="javascripts/myApp.js"></script>

</html>
