body {
    padding-top: 70px;
}
div.well#articleslist {
    position: fixed;
    max-height: 70%;
    width: 28vw;
    overflow-y:auto;
}
@media screen and (max-width: 1200px) {
    div.well#articleslist {
        position: static;
        width: auto;
        max-height: 15%;
    }
}

div.colwrapper {} div.container-main {
    width: 88vw;
}

button#editpage {
  float: right;
}
